/*basic*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

/*block components*/

div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 2em;
}

aside {
  background: black;
  color: white;
  padding: .5em .5em 1em .5em;
}

aside * {
  color: white;
}

img {
  margin-bottom: 1em;
  border: 1px solid black;
  width: 100%;
}

iframe {
  width: 100%;
  margin-bottom: 1em;
}

/*inline components*/
a.button, button {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: .5em;
  margin-bottom: 1em;
  text-transform: capitalize;
  transition: all .125s ease-in;
  border: 1px solid #fff;
}

a.button i, button i {
  color: #fff;
}

a.button:hover, button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

a.button:hover i, button:hover i {
  color: #000;
}

a.button.button-pink:hover {
  background: #ff8296;
  color: #fff;
  border-color: #fff;
}

a.button.button-green:hover {
  background: #006838;
  color: #fff;
  border-color: #fff;
}

a.button.button-cyan:hover {
  background: #00aeef;
  color: #fff;
  border-color: #fff;
}

/*
.button {
  color: white;
  display: inline-flex;
  padding: .5em;
  margin-bottom: 1em;
  text-transform: capitalize;
  transition: all .125s ease-in;
  pre-transiton rules
  background: #000;
  border: 1px solid white;
}

.button:hover {
  background: white;
  color: #000;
  border: 1px solid black;
  cursor: pointer;
}

.button i {
  color: white;
}

.button:hover i {
  color: black;
}
*/

/*tables*/

tr td:first-child {
  padding-right: 1em;
}

td {
  vertical-align: top;
}

/*videos*/

.video {
  position: relative;
  height: 0;
  margin-bottom: 1em;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-16x9 {
  padding-bottom: 56.35%;
}

/*forms*/
input, textarea {
  width: 100%;
  border: 1px solid #000;
}