div#header {
	background: white;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 2;
}

div#header a {
	display: inline-flex;
	padding: .5em;
	text-transform: capitalize;
	transition : all .125s ease-in;
	border: none;
}
div#header a:hover {
	cursor: pointer;
}

/*buttons*/
div#header a {
	color: black;
	background: white;
}
div#header a i, div#header a h0 {
	color: black;
}
div#header a:hover{
	color: white;
	background: black;
}
div#header a:hover i, div#header a:hover h0 {
	color: white;
}

div#header nav#tabs a[sort="work"]:hover{
	background-color: #ff8296;
}
div#header nav#tabs a[sort="aboutMe"]:hover{
	background-color:#006838;
}
div#header nav#tabs a[sort="all"]:hover{
	background-color: #00aeef;
}


@media (max-width: 720px) {
	div#header {
		flex-direction: column;
	}
	div#header div#topMobile {
		display: flex;
		justify-content: space-between;
	}
	
	div#header nav {
		display: none;
	}
	div#header:hover nav {
		display: block;
	}
	
	div#header nav a {
		display: flex;
		flex-direction: column;
	}
	div#header nav a {
		background: black;
		color: white;
		width: 100%;
		text-align: center;
	}
	div#header nav a i{
		color: white;
	}
	
	/*buttons*/
	div#header a:hover {
		background: white;
		color: black;
	}
	div#header a:hover i {
		color: black;
	}
}
@media (min-width: 721px) {
	div#header {
		display: flex;
		justify-content: space-between;
	}
	div#header * {
		display: flex;
	}
	
	/*buttons*/
	div#header div a#hamburger{
		display: none;
	}
}