/*

Basic sizing rules
15px text
5px spacing
20px line height / grid

*/

@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Space+Mono';
* {
    margin: 0 auto;
    box-sizing: border-box;
}


/*
DESKTOP-FIRST APPROACH 
ELEMENTS SHOULD WORK DOWN TO 600px
*/

body {
    overflow-x: hidden;
    background: #7f7f7f;
    color: #000;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .01em;
    font-family: Libre Baskerville, serif;
}


/* GENERAL TYPOGRAPHY AND DESIGN */

h1 {
    font-size: 30px;
    font-family: Space Mono, monospace;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: normal;
    padding-bottom: 20px;
    opacity: .5;
}

h1.year,
h1.title {
    width: 100%;
    font-size: 150px;
    line-height: 1em;
    letter-spacing: 0;
    padding-bottom: 0;
    opacity: .25;
}

h2 {
    font-family: Libre Baskerville, serif;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 30px;
    line-height: 1em;
    opacity: .5;
    /*    letter-spacing: .1em;*/
    font-style: italic;
    opacity: .5;
}

h3 {
    font-family: Libre Baskerville, serif;
    font-weight: normal;
    font-size: 15px;
}

p {
    padding-bottom: 20px;
}

article p {
    opacity: .5;
    /*    color: #fff;*/
}

a {
    color: #000;
    text-decoration: none;
}

.hashtag {
    font-family: Space Mono, monospace;
    display: inline-block;
    padding: 0;
    opacity: .5;
}

button {
    background: rgba(0, 0, 0, 0);
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    cursor: pointer;
}

.button {
    cursor: pointer;
    font-family: Space Mono, monospace;
    /*    color: #fff;*/
    display: inline-block;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 1px;
    opacity: .6;
}


/* DIV-SPECIFIC, IN HTML ORDER */

header {
    position: fixed;
    opacity: 0;
    background: rgba(192, 192, 192, 0);
    z-index: 5;
}

header h1 {
    color: white;
    display: inline-block;
    text-transform: lowercase;
    /*    background: rgba(0, 0, 0, 0);*/
    padding: 5px;
    opacity: 1;
}

header p {
    color: white;
    padding: 5px;
}

header nav {
    /*    background: rgba(0, 0, 0, 0);*/
    display: inline-block;
    padding: 5px;
}

header nav a.button {
    margin-bottom: 0;
    color: #fff;
    border-color: #fff;
}

nav a.hashtag {
    padding-right: 20px;
}

#introVid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: .25;
    z-index: -2;
}

#introLogo {
    position: fixed;
    opacity: 0;
    z-index: -1;
}

#scrollDown {
    z-index: -2;
    text-align: center;
    width: 150px;
    position: absolute;
    color: #fff;
    opacity: 0;
}

#scrollDown p {
    margin-bottom: -30px;
}

#timeline {
    position: fixed;
    width: 50%;
    height: 0;
    border-right: 1px solid #000;
    opacity: .5;
    z-index: -1;
}

#timelineHeight {
    height: 100%;
}

#column {
    max-width: 940px;
    padding: 60px 20px 0 20px;
    z-index: 1;
    display: none;
}

#introText {
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
    padding-top: 20px;
}

#contentTop {
    padding-top: 60px;
    display: inline-block;
}


/* POSITIONING TIMELINE ELEMENTS */

.left {
    width: 50%;
    margin-right: 50%;
    padding: 5px 0 20px 0;
    background: rgba(0, 0, 0, 0);
}

.right {
    width: 50%;
    margin-left: 50%;
    text-align: right;
    padding: 5px 0 20px 0;
}

.left.indent {
    width: 33%;
    margin-left: 17%;
}

.right.indent {
    width: 33%;
    margin-right: 17%;
}

.left p, .left h3 {
    padding-right: 33%;
}

.right p, right h3 {
    padding-left: 33%;
}

.full {
    max-width: 500px;
    padding: 5px 0 20px 0;
    text-align: left;
}


/* FORMATTING TIMELINE ELEMENTS */

article,
section {
    border-top: 1px solid rgba(0, 0, 0, .5);
    padding: 5px 0 60px 0;
    background: #fff;
    /*    margin-top: -50px;*/
}

article {
    opacity: 0;
}

article img {
    display: block;
    width: 500px;
    height: auto;
    margin: 5px 0px 20px 0px;
}


/* EXPLORATION-SPECIFIC*/


/* PROJECT-SPECIFIC*/

.project {
    max-width: 300px;
    margin-bottom: 40px;
}

.projectHero {
    max-width: 300px;
    height: 300px;
    margin: 5px 0px 20px 0px;
}

#project1 .projectHero {
    background: url(../images/arirang/heroArirang2.gif);
    background-position: center;
    background-size: cover;
    border-color: #fff;
}

#project2 .projectHero {
    background: url(../images/soundscapes/heroSoundScapes.png);
    background-position: center;
    background-size: cover;
}

#project3 .projectHero {
    background: url(../images/disquiet/heroDisQuiet.gif);
    background-position: center;
    background-size: cover;
}

#project4 .projectHero {
    background: url(../images/designingharmony/heroDesigningHarmony.png);
    background-position: center;
    background-size: cover;
}

#project5 .projectHero {
    background: url(../images/darkwasthenight/heroDarkWasTheNight.png);
    background-position: center;
    background-size: cover;
}

#project6 .projectHero {
    background: url(../images/audiovisuals/heroAudioVisuals.gif);
    background-position: center;
    background-size: cover;
}

#project7 .projectHero {
    background: url(../images/easydoesit/heroEasyDoesIt.gif);
    background-position: center;
    background-size: cover;
}

#project8 .projectHero {
    background: url(../images/lightbasedsetdesign/heroLightBasedSetDesign.png);
    background-position: center;
    background-size: cover;
}


/*CONTACT FORM*/

form {
    margin-top: 20px;
    background: #fff;
}

form button {
    text-align: center;
}

fieldset {
    border: none;
    padding: 0 0 20px 0;
}

input,
textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
}

#thankyou_message {
    background: #fff;
    padding-top: 40px;
    text-align: center;
}


/*
.hashtag {
    font-family: Space Mono, monospace;
    display: inline-block;
    padding: 0;
    opacity: .5;
}

.hashtag.button {
    margin-bottom: 6px;
    cursor: pointer;
    border-color: grey;
    color: grey;
}

#all {
    color: #BDA664;
    border-color: #BDA664;
}
*/


/**************/


/**************/


/*MOBILE RULES*/


/**************/


/**************/


/**************/

@media only screen and (max-width: 657px) {
    /* DIV-SPECIFIC, IN HTML ORDER */
    header {
        width: 100%;
    }
    .left.indent {
        width: 50%;
        margin-left: 0;
        padding-right: 20px;
    }
    .right.indent {
        width: 50%;
        margin-right: 0;
        padding-left: 20px;
    }
    /* FORMATTING TIMELINE ELEMENTS */
    .left p {
        padding-right: 40px;
    }
    .right p {
        padding-left: 40px;
    }
    h1.year,
    h1.title {
        font-size: 90px;
    }
}

@media only screen and (max-width: 517px) {
    .project {
        max-width: 100%;
        padding-bottom: 60px;
    }
    /* DIV-SPECIFIC, IN HTML ORDER */
    /* POSITIONING TIMELINE ELEMENTS */
    .left {
        width: 100%;
        background: rgba(255, 255, 255, 1);
    }
    .right {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }
    .left.indent {
        width: 100%;
        padding-right: 0;
    }
    .right.indent {
        width: 100%;
        padding-left: 0;
    }
    /* FORMATTING TIMELINE ELEMENTS */
    .left p {
        padding-right: 0;
    }
    .right p {
        padding-left: 0;
    }
    h1.year,
    h1.title {
        font-size: 60px;
    }
    article img {
        max-width: 300px;
        height: auto;
        margin: 5px 0px 20px 0px;
    }
}