/*sizing classes has 3 parts:
.target-screen size-target size
e.g.: .col-lg-2 means this element
should take up 2 columns when the screen is large-sized

there are only 2 screen sizes:
sm (1 column, outside of media q's)
lg (2 columns, inside media q)
if none is specified, styles apply to all screen sizes

there are three kinds of column sizes:
units:
1 (1 col or row), 2 (2 cols or rows)
percentages:
100 (entire col or row)
auto:
auto (fit container to content)
*/

/*rows and cols*/
.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}


/*justify aong major axis*/
.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

/*flex-wrap*/
.flex-wrap {
	flex-wrap: wrap;
}

/*borders*/
.border-top {
	border-top: 1px solid #000;
}

section.tiles {
/*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
*/
/*  flex: 0 1 540px;*/
  max-width: 270px;
	margin: 0 36px;
}

section.tiles .tileTitle,
section.tiles .tileText {
  min-height: 0;
}

section.tiles > * {
  padding: .5em .5em 0 0;
  width: 270px;
  min-height: 270px;
}

section.tiles .tileBigText,
section.tiles .tileBigText * {
  padding: 0;
  font-family: nimbus-roman, serif;
}

section.tiles .tileBigText .tileBigTextInfo {
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  padding: .5em;
}

section.tiles .tileBigText .tileBigTextInfo h1 {
  color: #fff;
  opacity: 1;
}

section.tiles .tileProject {
  padding: .5em;
}

section.tiles .tileProject .tileProjectInfo {
  background: #fff;
  height: 100%;
  padding: .5em;
  opacity: 0;
  transition: opacity .125s ease-in;
}

section.tiles .tileProject:hover .tileProjectInfo {
  opacity: 1;
}

section.tiles .tileImg {
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  height: 270px;
}

section.tiles .col-100 {
  width: 100%;
}

section.tiles .row-auto {
  min-height: 0 !important;
}

@media screen and (min-width: 630px) {
	section {
		flex: 0 0 540px;
	}
	
/*
  section.tiles {
    max-width: 540px;
		flex: 0 0 540px;
  }
*/
  section.tiles .tileTitle,
  section.tiles .tileText {
    min-height: 270px;
  }
  section.tiles .tileWide {
    width: 540px;
  }

  /*sizing classes*/
  section.tiles .col-lg-2 {
    width: 540px;
  }

  i.fa-caret-down {
    transform: rotate(-90deg);
  }
}