div#header {
	background: white;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 2;
}

div#header a {
	display: inline-flex;
	padding: .5em;
	text-transform: capitalize;
	transition : all .125s ease-in;
	border: none;
}
div#header a:hover {
	cursor: pointer;
}

/*buttons*/
div#header a {
	color: black;
	background: white;
}
div#header a i, div#header a h0 {
	color: black;
}
div#header a:hover{
	color: white;
	background: black;
}
div#header a:hover i, div#header a:hover h0 {
	color: white;
}

div#header nav#tabs a[sort="work"]:hover{
	background-color: #ff8296;
}
div#header nav#tabs a[sort="aboutMe"]:hover{
	background-color:#006838;
}
div#header nav#tabs a[sort="all"]:hover{
	background-color: #00aeef;
}


@media (max-width: 720px) {
	div#header {
/*		background: #000000;*/
		flex-direction: column;
	}
	
/*	buttons*/
	div#header div:nth-child(2) a {
		color: white;
		background: black;
	}
	div#header div:nth-child(2) a i, div#header a h0 {
		color: white;
	}
	div#header div:nth-child(2) a:hover{
		color: black;
		background: white;
	}
	div#header div:nth-child(2) a:hover i, div#header a:hover h0 {
		color: black;
	}
	
	div#header a#hamburger{
		display: inline-block;
	}
	
	/*blocks*/
	div#header div{
		display: flex;
	}
	div#header div:first-child{
		justify-content: space-between;
	}
	
	div#header div:nth-child(2){
		display: none;
	}
	div#header:hover div:nth-child(2){
		display: flex;
	}
	
	div#header div:nth-child(2){
		flex-direction: column;
		text-align: center;
	}
	div#header div:nth-child(2) nav {
		text-align: center;
	}
	div#header div:nth-child(2) nav a{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 721px) {
	div#header {
/*		background: white;*/
		padding: .5em .5em 0 .5em;
	}
	
	/*buttons*/
/*
	div#header a {
		color: black;
		background: white;
	}
	div#header a i, div#header a h0 {
		color: black;
	}
	div#header a:hover{
		color: white;
		background: black;
	}
	div#header a:hover i, div#header a:hover h0 {
		color: white;
	}
*/
	div#header div a#hamburger{
		display: none;
	}
	
	/*blocks*/
	div#header div:first-child {
		width: 25%;
		border-top: 1px solid black;
	}
	div#header div:nth-child(2) {
		width: 75%;
		border-top: 1px solid black;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	
	div#header div:nth-child(2) nav {
		display: flex;
	}
	div#header div:nth-child(2) nav#tabs {
		flex: 3;
	}
	div#header div:nth-child(2) nav#social {
		flex: 1;
		justify-content: flex-end;
	}
}