/*Basic*/
* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #000;
	font-family: "nimbus-sans", sans-serif;
/*	font-family: sans-serif;*/
	font-weight: 300;
	box-sizing: border-box;
}
body {
	background: white;
}
/*General Inline*/
h1 {
	font-size: 8em;
	font-weight: 400;
	line-height: 1em;
	text-transform: lowercase;
	margin-top: 16px;
	padding-bottom: 16px;
	letter-spacing: -.01em;
}
h2{
	font-size: 4em;
	font-weight: 400;
	line-height: 1em;
	padding-bottom: .125em;
	letter-spacing: -.02em;
	text-transform: lowercase;
}
h3 {
	font-weight: 700;
	line-height: 1.5em;
}
p {
	font-size: 1em;
	margin-bottom: 2em;
	line-height: 1.5em;
}
p.caption {
	display: block;
	font-style: italic;
}

/*anchor tags*/
a {
	display: inline-flex;
	text-decoration: none;
	background: black;
	color: white;
	border: 1px solid white;
	padding:  0 4px;
	transition : all .125s ease-in;
}
a:hover {
	background: white;
	color: #000;
	border: 1px solid black;
}

/*inline components*/
.button {
	color: white;
	display: inline-flex;
	padding: .5em;
	margin-bottom: 1em;
	text-transform: capitalize;
	transition : all .125s ease-in;
	/*pre-transiton rules*/
	background: #000;
	border: 1px solid white;
}
.button:hover {
	background: white;
	color: #000;
	border: 1px solid black;
	cursor: pointer;
}
.button i, .button h0 {
	color: white;
}
.button:hover i, .button:hover h0 {
	color: #000;
}

/*
.buttonLight {
	padding: .5em;
	background-color: white;
	border: 1px solid white;
	color: black;
	transition : all .125s ease-in;
}
.buttonLight:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}
.buttonLight:hover i, .buttonLight:hover h0 {
	color: white;
}
*/

small {
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .125em;
	padding: 8px;
	display: inline-block;
	color: #ffffff;
}
.recognition small {
	background-color: #ff8296;
}
.education small {
	background-color: #2e3192;
}
.work small {
	background-color: #006838;
}
blockquote{
	font-size: 2em;
	font-weight: 400;
	line-height: 1em;
	padding-bottom: 1em; 
}
b {
	font-weight: 700;
}


/*block components*/
div#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0 .5em;
}
section {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 .5em;
}
section > *{
/*	align-self:center;*/
}
section.widthWindow {
	width: 100%;
	max-width: 100%;
}

aside {
	background: #000000;
	color: white;
	padding: .5em .5em 1em .5em;
}
aside * {
	color: white;
}
img {
	margin-bottom: 1em;
	border: 1px solid black;
}
iframe {
	width: 100%;
	margin-bottom: 1em;
	border: 1px solid black;
}

@media (max-width: 720px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 3em;
	}
}
/*
@media (min-width: 721px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 3em;
	}
}
*/

